frontend www-http
        bind *:81
        mode http
        acl apache222 req.hdr(Host) -i -m str apache222.com
        redirect prefix http://apache2.com if apache222
        # redirect prefix http://apache2.com code 301 if apache222
        # Specify the code with code number
        # redirect prefix http://apache2.com drop-query if apache222
        # drop-query will drop the query params
        default_backend apache

backend apache
        description Our Apache Web servers
        mode http
        balance roundrobin
        server web1 127.0.0.1:8081
        server web5 127.0.0.1:8085
        server web6 127.0.0.1:8086

backend apache2
        mode http
        balance roundrobin
        server web1 127.0.0.1:8082
        server web3 127.0.0.1:8083
        server web4 127.0.0.1:8084